# Ignore Git files
.git/
.gitignore

# Ignore Python virtual environment and cache
venv/
__pycache__/
*.pyc

# Ignore local output files
sample_datasets/outputs/
output/
output_files/
output_chinese/

# Ignore development environment files
.vscode/
*.devcontainer/